html,
body {
	margin: 0;
	height: 100%;
}

body {
	font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen-Sans, Ubuntu, Cantarell, "Helvetica Neue", sans-serif;
	background: url("https://images.pexels.com/photos/4577209/pexels-photo-4577209.jpeg");
	background-position: 50% 50%;
	background-size: cover;
	background-attachment: fixed;
}

.wrapper {
	display: flex;
	height: 100%;
}

.container {
	width: 100%;
	max-width: 400px;
	padding: 0 20px;
	padding-bottom: 90px;
	margin: auto;
}

/* player */

.player {
	padding: 30px 0;
	position: fixed;
	left: 0;
	bottom: 0;
	right: 0;
	background-color: #fff;
	z-index: 999;
	/* box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.175); */

	--track-height: 4px;
	--track-color: lightgray;
	--range-color: #000;
	--thumb-width: 20px;
	--thumb-color: #000;
}

.player .playpause {
	position: absolute;
	left: 50%;
	top: -30px;
	transform: translateX(-50%);
	background-color: #fff;
	border: none;
	width: 60px;
	height: 60px;
	box-shadow: 0 0 20px 0 rgba(0, 0, 0, 0.175);
}

.player .timeline {
	display: flex;
	align-items: center;
}

.player .track {
	position: relative;
	height: 30px;
	overflow: hidden;
	flex-grow: 1;
}

.player .time,
.player .duration {
	box-sizing: border-box;
	min-width: 50px;
	font-size: 14px;
	margin-top: -2px;
}

.player .time {
	text-align: right;
	margin-right: 10px;
}

.player .duration {
	margin-left: 10px;
}

.player [type=range] {
	position: absolute;
	top: 0;
	left: 0;
	margin: 0;
	padding: 0;
	width: 100%;
	height: 30px;
	box-shadow: none;
	background: transparent;
	font: 1em arial, sans-serif
}

.player [type=range],
.player [type=range]::-webkit-slider-thumb {
	-webkit-appearance: none
}

.player [type=range]::-webkit-slider-runnable-track {
	box-sizing: border-box;
	border: none;
	border-radius: 0;
	width: 100%;
	height: var(--track-height);
	background: var(--track-color);
}

.player [type=range]::-webkit-slider-thumb {
	box-sizing: border-box;
	width: var(--thumb-width);
	height: var(--track-height);
	border: none;
	border-radius: 0;
	background: var(--thumb-color);
	pointer-events: all !important;
	cursor: default;
}

.player [type=range]::-moz-range-track {
	box-sizing: border-box;
	border: none;
	border-radius: 0;
	width: 100%;
	height: var(--track-height);
	background: var(--track-color);
}

/* .player [type=range]::-moz-range-progress {
	height: var(--track-height);
	background: var(--range-color);
} */

.player [type=range]::-moz-range-thumb {
	box-sizing: border-box;
	width: var(--thumb-width);
	height: var(--track-height);
	border: none;
	border-radius: 0;
	background: var(--thumb-color);
	pointer-events: all !important;
	cursor: default;
}

.player [type=range]::-ms-track {
	box-sizing: border-box;
	border: none;
	width: 100%;
	height: var(--track-height);
	background: var(--track-color);
	color: transparent;
}

/* .player [type=range]::-ms-fill-lower {
	height: var(--track-height);
	background: var(--range-color);
} */

.player [type=range]::-ms-thumb {
	margin-top: 0;
	box-sizing: border-box;
	width: var(--thumb-width);
	height: var(--track-height);
	border-radius: 0;
	border: none;
	background: var(--thumb-color);
	pointer-events: all !important;
	cursor: default;
}

.player [type=range]:focus {
	border: none;
	outline: none;
	box-shadow: none !important;
}

/* .player [type=range]:focus::-ms-thumb {}

.player [type=range]:focus::-webkit-slider-thumb {}

.player [type=range]:focus::-moz-range-thumb {} */

.player [type=range]::-ms-tooltip {
	display: none
}

/* playlist  */

/* .playlist {
	border-top: 2px solid lightgray;
} */

.playlist ol {
	margin: 0;
	padding: 0;
	list-style: none;
}

.playlist ol li {
	display: flex;
	align-items: center;
	justify-content: space-between;
	padding: 15px 0;
	border-bottom: 2px solid rgba(0, 0, 0, 0.15);
}

.playlist ol li:last-child {
	border-bottom: none;
}

.playlist li .title {
	font-size: 20px;
	font-weight: bold;
	margin-bottom: 4px;
}

.playlist li .sub {
	color: gray;
}

.playpause {
	width: 50px;
	height: 50px;
	/* background-color: #fff; */
	border: 2px solid #000;
	border-radius: 50%;
	display: flex;
	align-items: center;
	justify-content: center;
	font-size: 18px;
}

.playpause:after {
	content: "";
	display: block;
	width: 20px;
	height: 20px;
	margin-left: 6px;
	box-sizing: border-box;
	transition: border 100ms;
	border-top: 10px solid transparent;
	border-right: 0 solid transparent;
	border-bottom: 10px solid transparent;
	border-left: 20px solid #000;
}

.playpause[data-playing="true"] {
	background-color: #000;
}

.playpause[data-playing="true"]:after {
	margin-left: 2px;
	border-top: 0 solid transparent;
	border-right: 6.6666666667px solid #fff;
	border-bottom: 0 solid transparent;
	border-left: 6.6666666667px solid #fff;
}